/**
 * CSS for assignment planner page
 * Written by Lathangi Ganesh
 * Created: Jan 23, 2018
 * Modified: March 11, 2019
 */

.node-type-assignment-planner #uw-lib-assignment-planner-form {
  margin-bottom: 30px;
}

.node-type-assignment-planner h1 .step {
  margin-left:10px;
}

.node-type-assignment-planner .all_steps {
  margin-top: 20px;
  border: 1px solid #eee;
  padding: 10px;
  border-radius: 5px;
  padding-top:20px;
}

.node-type-assignment-planner .uw-site-content ul{
  margin-left: 0px;
}

.node-type-assignment-planner .resrc_name {
  margin-top:80px;
}

.node-type-assignment-planner a.resrc {
  float:left;
  margin-right:10px;
  border:none;
  width: 95px;
  font-size: 11px;
  word-wrap: break-word;
}

.node-type-assignment-planner .files_wrap a[href$=".pdf"]{
  background-image: url(images/pdf.jpg);
  background-repeat: no-repeat;
  height: 79px;
  width: 83px;
  display: inline-block;
  padding-top: 9px;
  border:none;
}

.node-type-assignment-planner .files_wrap a[href$=".docx"], .node-type-assignment-planner .files_wrap a[href$=".doc"]{
  background-image: url(images/word.png);
  background-repeat: no-repeat;
  height: 79px;
  width: 83px;
  display: inline-block;
  padding-top: 10px;
  border:none;
}

.node-type-assignment-planner.files_wrap a[href$=".txt"]{
  background-image: url(images/txt.png);
  background-repeat: no-repeat;
  height: 79px;
  width: 83px;
  display: inline-block;
  padding-top: 10px;
  border:none;
}

.node-type-assignment-planner .files_wrap a[href$=".xlsx"], .node-type-assignment-planner.files_wrap a[href$=".xls"], .node-type-assignment-planner .files_wrap a[href$=".csv"]{
  background-image: url(images/xls.png);
  background-repeat: no-repeat;
  height:79px;
  width: 83px;
  display: inline-block;
  padding-top: 10px;
  border:none;
}

.node-type-assignment-planner .print {
  clear:both;
}

.node-type-assignment-planner .files_wrap {
  padding-top: 20px;
  padding-bottom: 40px;
  padding-left:10px;
  height: 173px;
  border: 1px solid #eee;
  border-radius:5px;
}

.node-type-assignment-planner .resrc_wrap {
  float: left;
  height: 124px;
  -webkit-text-size-adjust: none;
  color: #000;
  font-family: georgia,"droid serif","Times New Roman",Times,serif;
  font-size: 1rem;
  line-height: 1.4;
  font-weight: 100;
  list-style: none;
}

.node-type-assignment-planner .uw-site-main--content #content{
  margin-top: 0;
  margin-bottom: 10px;
  padding: 0;
  width: 100%;
}

.node-type-assignment-planner .uw-site--main {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
  width: 100%;
}

.page-assignment-planner .uw-site-main--content #content{
  margin-top: 0;
  margin-bottom: 10px;
  padding: 0;
  width: 100%;
}

.page-assignment-planner .node-type-assignment-planner .uw-site--main {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
  width: 100%;
}

.node-type-assignment-planner #edit-submit--2 {
  margin-top: 15px;
  padding-top: 54px;
  height: 39px;
  width: 34%;
  margin-right: 11%;
  padding: 0px;
  border-radius:10px;
}

.node-type-assignment-planner .top_msg {
  margin-top:50px;
  margin-bottom:0px;
  background-color:#eee;
  border: 1px solid #ccc;
  padding:10px;
}

.node-type-assignment-planner .assignment_planner_wrap {
  background-color:#fff;
  padding:5px;
  border:1px solid #eee;
  border-radius:5px;
  margin-top:25px;
}

.node-type-assignment-planner .assignment_planner_step_title {
  background-color: #eeeeee;
  border-radius:5px;
  padding: 15px;
  padding-top: 5px;
}

.node-type-assignment-planner .assignment_planner_step_title h3{
  margin-left:10px;
}

.node-type-assignment-planner .doby {
  float: right;
  color: #3f3f3f;
  height: auto;
  margin-right: 10px;
  margin-bottom: 10px;
}

.node-type-assignment-planner .assign_percent {
  float: right;
  width: 100%;
  text-align: right;
  padding-bottom: 20px;
  margin-top: 10px;
  margin-right: 5px;
  font-weight: bold;
}

.node-type-assignment-planner .assign_msg {
  color: red;
}

.node-type-assignment-planner .files_wrap img, picture {
  height: 76px;
  margin: 0;
  margin-bottom: 8px;
}

.node-type-assignment-planner #prnt_btn {
  float:right;
  padding:6px;
  border-radius: 10px;
  margin-bottom: 10px;
}

.node-type-assignment-planner .ac_google_cal a:link {
  background-color: #ccc;
  color: #737373;
  text-decoration:none;
}

.node-type-assignment-planner .ac_google_cal a:visited {
  background-color: #ccc;
  color: #737373;
  text-decoration:none;
}

.node-type-assignment-planner .ac_google_cal a:hover {
  background-color: #ccc;
  color: #4e4e4e;
  text-decoration:none;
}

.node-type-assignment-planner .ac_google_cal:hover {
  background-color: #ccc;
  color: #4e4e4e;
  text-decoration:none;
}

.node-type-assignment-planner .ac_google_cal {
  float:right;
  color: #737373;
  margin-top: -61px;
}

.node-type-assignment-planner #edit-submit--2:hover {
  background-color: #757575;
  color: #fff;
}

.node-type-assignment-planner .each_assign_step {
  max-width: 100%;
  text-align:left;
  background-color: #eeeeee;
  border-radius:5px;
  padding: 8px;
  padding-top: 5px;
  margin-top: 10px;
  text-transform: none;
  min-height: 80px;
  overflow: auto;
}

.node-type-assignment-planner .assign_desc {
  clear: both;
}

.node-type-assignment-planner .assign_file_upload_desc {
  margin-top: 35px;
}

.node-type-assignment-planner .page_top {
  width: 100%;
  padding-bottom: 15px;
  clear: both;
}

.node-type-assignment-planner form .description {
  display: inline;
}

.node-type-assignment-planner .cal_form {
  background-color: #eee;
  margin-top: 35px;
  padding-top: 0px;
  padding-bottom: 44px;
  padding-left: 10px;
  border: 1px solid #ccc;
}

.node-type-assignment-planner details {
  width: 100%;
  margin-bottom: 15px;
  height: auto;
}

.node-type-assignment-planner details > summary {
  padding-top: 20px;
  padding-left: 5px;
  width: 100%;
  background-color: #eee;
  border: none;
  overflow: auto;
}

.node-type-assignment-planner details > p {
  border-radius: 0 0 10px 10px;
  background-color: #ddd;
  margin: 0;
}

.node-type-assignment-planner details > summary:hover {
  background-color: #ddd;
}

.node-type-assignment-planner .ex_all {
  float:right;
}

.node-type-assignment-planner .step_title {
  margin-left: 25px;
  margin-top: -22px;
}

.node-type-assignment-planner .step_content {
  margin-left: 5px;
}

.node-type-assignment-planner .cal_form .description {
  color: #000;
}
/***New****/

.node-type-assignment-planner .container-inline-date {
  clear: both;
  display: inline;
}

.node-type-assignment-planner .cal_form > div:first-of-type {
  margin-bottom:30px;
}

.node-type-assignment-planner input[type=submit] {
  float: left;
  clear: both;
  padding: 10px;
}

.node-type-assignment-planner input[type=submit]:hover {
  background-color: #f8f8f8;
}

.node-type-assignment-planner div#edit-resource-files {
  display: none;
}

.node-type-assignment-planner div#edit-upload-file-desc {
  display: none;
}

.node-type-assignment-planner .assign_file_upload_desc {
  display:none;
}

/******** IE support for accordian steps *******************/

 _:-ms-lang(x), .node-type-assignment-planner .step_title {
  /*background-color: #eee;*/
  width: 97%;
  height: 60px;
  padding-top:15px;
}

_:-ms-lang(x),  html.no-details details > summary::before{
  content: "▶";
  height:25px;
  padding-top:10px;
  width:100%;
}

 _:-ms-lang(x),  html.no-details details[open] > summary::before{
  content: "▼";
}

 _:-ms-lang(x), .node-type-assignment-planner details > summary {
  adding-top: 4px;
  padding-bottom: 34px;
  width: 97%;
  background-color:none;
  /*padding-left: 97%;*/
}

 _:-ms-lang(x), .node-type-assignment-planner .doby {
  color: #3f3f3f;
  height: auto;
  margin-right: 10px;
  margin-bottom: 10px;
  position: relative;
  z-index: 1;
}

html.no-details details > summary::before {
  width: 100% !important;
}


@media only screen and (max-width: 600px) {

  .node-type-assignment-planner .ac_google_cal {
    float: right;
    text-align: center;
    background-color: #757575;
    border: none;
    cursor: pointer;
    font-family: "BureauGrotCond Book",impact,"avenir next condensed heavy","Droid Sans",sans-serif;
    letter-spacing: .055rem;
    text-transform: uppercase;
    display: inline-block;
    text-decoration: none;
    vertical-align: middle;
    white-space: nowrap;
    width: 100%;
    max-width: 18.125rem;
    margin: 0 auto;
    margin-top: 6px;
    margin-right: 0px;
    color: #fff;
    font-size: 1.125rem;
    padding: 6px;
    border-radius: 10px;
  }

  .node-type-assignment-planner .files_wrap {
    padding-top: 20px;
    padding-bottom: 40px;
    padding-left: 10px;
    border: 1px solid #eee;
    border-radius: 5px;
    height: auto;
  }

}

@media print {
  .node-type-assignment-planner .cal_form {
    display:none;
  }

  .node-type-assignment-planner .ex_all {
    display:none;
  }

  .node-type-assignment-planner .instruction {
    display:none;
  }

  .node-type-assignment-planner .ac_google_cal {
    display:none;
  }
}
